<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<h1>SERCH RESULTS</h1>
<ul>
    <p>Flter 1: Geners</p>
    <li>
        <input id="features1" name="features" type="checkbox" value="SEEDSTARTER_SPECIFIC_SUBSTRATE" />
        <input name="_features" type="hidden" value="on" />
        <label for="features1">genre 1</label>
    </li>
    <li>
        <input id="features2" name="features" type="checkbox" value="FERTILIZER" />
        <input name="_features" type="hidden" value="on" />
        <label for="features2">genre 2</label>
    </li>
    <li>
        <input id="features3" name="features" type="checkbox" value="PH_CORRECTOR" />
        <input name="_features" type="hidden" value="on" />
        <label for="features3">genre 3</label>
    </li>
</ul>
<a href="/myAccount">Back</a></p>
</body>
</html>